.what {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  justify-content: center;
}
.card-comics:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.icone {
  color: white;
}
.card-comics {
  display: flex;
  width: 240px;
  height: 500px;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.search-charac {
  display: block;
  width: 100%;
}
.btn-fav {
  padding: 20px;
  border: 2px solid chartreuse;
}
