.div-home-charac {
  width: 300px;
  height: 450px;
  background-color: white;
  background-image: url(../img/gif-back.gif);
  border: white 5px solid;
}
.div-home-comics {
  width: 300px;
  height: 450px;
  background-color: white;
  background-image: url(../img/newcomgif.webp);
  border: white 5px solid;
}

.contain-home-button {
  padding-top: 100px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  box-shadow: 10px 10px 213px 53px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 213px 53px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 213px 53px rgba(0, 0, 0, 1);
}
.div-home-charac:hover {
  box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  cursor: pointer;
}
.div-home-comics:hover {
  box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 72px 1px rgba(255, 0, 0, 1);
  cursor: pointer;
}
.text-home-button {
  margin-bottom: 35px;
  color: white;
  font-family: "Marvel", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
